/*==============================================
  Floating Dot Animation by Zongbin @ codepen
==============================================*/

.dot-floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-highlight);
  animation: dotFloating 5s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before,
.dot-floating::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-floating::before {
  left: -12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-highlight);
  animation: dotFloatingBefore 5s infinite ease-in-out;
}

.dot-floating::after {
  left: -24px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-highlight);
  animation: dotFloatingAfter 5s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dotFloating {
  0% {
    left: calc(45% - 45vw);
  }

  100% {
    left: calc(45% + 35vw);
  }
}

@keyframes dotFloatingBefore {
  0% {
    left: -50px;
  }

  50% {
    left: -12px;
  }

  100% {
    left: -50px;
  }
}

@keyframes dotFloatingAfter {
  0% {
    left: -100px;
  }

  50% {
    left: -24px;
  }

  100% {
    left: -100px;
  }
}