#main-container {

  text-align: center;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(to bottom,
      var(--color-background) 40%,
      var(--color-highlight) 100%);
}

#logo-container img {
  width: 75px;
}

#side-bar {
  display: none;
}

#description-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description-box h1 {
  margin-bottom: 5vh;
  color: var(--color-title);
}

#description-box h1 span {
  background: linear-gradient(to right, #5A67F0 0%, #5AB8F0 50%, #5AEAF0 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#description-box p {
  margin-bottom: 7vh;
  width: 90%;
  color: var(--color-text);
}

#description-box div {
  border-radius: 25px;
  max-width: 150px;
  width: 30vw;
  background-color: var(--color-button);
  border-width: 0;
  color: var(--color-title);
  margin-bottom: 20px;

  font-size: medium;
  text-align: center;
  padding: 5% 0;
}

#description-box a:link {
  text-decoration: none;
}

#description-box a:visited {
  text-decoration: none;
}

#description-box a:hover {
  text-decoration: none;
}

#description-box a:active {
  text-decoration: none;
}

#arrow {
  height: 32rem;
}

#navigation-bar {
  display: none;
}

#under-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#under-bar .vector-image {
  width: 30vw;
}

@media (orientation: landscape) {

  #main-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 75px auto;
    grid-template-areas: 'logo logo logo' 'side info nav';
    width: 100%;
  }

  #logo-container {
    width: 100%;
    max-height: 75px;
    text-align: start;

    grid-area: logo;
  }

  #side-bar {
    grid-area: side;
    padding-left: 20px;

    max-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #side-bar .vector-image {
    padding: 0 7px;
    max-height: 170px;
  }

  #description-box {
    grid-area: info;
  }

  #arrow {
    height: 10px;
  }

  #navigation-bar {
    grid-area: nav;
    padding-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    color: antiquewhite;
  }

  #navigation-bar {
    position: fixed;
    bottom: 35%;
    right: 0px;
    z-index: 2;
  }

  #navigation-bar .navigation-dot {
    background-color: #cbcbcb;
    border-radius: 50%;
    height: 10px;
    margin: 0.5rem;
    transition: background-color .2s ease-in-out;
    width: 10px;
  }

  #under-bar {
    display: none;
  }
}