:root {
  --color-background: #16161A;
  --color-button: #7F5AF0;
  --color-highlight: #7F5AF0;
  --color-primary: #FFFFFE;
  --color-secondary: #72757E;
  --color-title: #FFFFFE;
  --color-text: #94A1B2;
  --color-stroke: #010101;
  --color-tertiary: #2CB67D;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gray: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrapper {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}

.snap-to {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}