#contact-info-page {
  background-color: var(--color-background);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info-container {
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info-container p {
  margin-bottom: 5rem;
}